{% extends "base.html" %}
{% block content %}
{% load static %}
<title>Task Manager - Drowsiness</title>

<body style="background-color:#ffdbdb">
    <div class="all">
        <div id="container">
             <div class="cam">
            <img src="{% url 'sleep_detector' %}">
        </div>
        </div>
        <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
<!--script async src="./opencv.js"></script-->

<body onload="setSize()">
    <button id="toggleStream" onclick="toggleStream()">Play</button>
    <button id="cvtGray" onclick="cvtGray()" style="visibility: hidden;">Convert to Gray</button>
    <br>
    <br>
    <video id="video"></video>
    <br>
    <canvas id='output'></canvas>
</body>
<script>
     var wsUri = "wss://127.0.0.1:8485/";
  // DOM 이 형성되었을 때 가장 먼저 호출되는 메소드 입니다.
  function init()
  {

    websocket = new WebSocket(wsUri);
  }

  // 서버와의 접속을 시작하는 메소드 입니다.
  function testWebSocket()
  {

    // 지정한 주소로 웹소켓 연결을 시도하는 코드 입니다.
    websocket = new WebSocket(wsUri);

    // 웹소켓의 각 이벤트에 대한 처리 메소드들을 연결한 코드들 입니다.
    // 위의 호출 이후 이벤트를 연결해도 문제가 없는 이유는 위의 웹소켓은 콜백 처리를 하게되는데,
    // 콜백으로 호출되는 메소드들은 무조건 다음 프레임에 처리됩니다. 그래서 뒤에 호출해도 됩니다.
    websocket.onopen = function(evt) { onOpen(evt) };
    websocket.onclose = function(evt) { onClose(evt) };
    websocket.onmessage = function(evt) { onMessage(evt) };
    websocket.onerror = function(evt) { onError(evt) };


  }

    let width, height;

    function setSize() {
        if (window.orientation == 0) {
            //portrait
            width = 480; height = 640;
        }
        else {
            //landscape
            width = 640; height = 480;
        }
    }

    const constraints = {
        video: { facingMode: "user", }, audio: false
    };
    const video = document.getElementById("video");
    const canvas = document.getElementById('output');
    canvas.width = width; canvas.height = height;

    function successCallback(stream) {
        video.width = width; video.height = height;//prevent Opencv.js error.
        video.srcObject = stream;
        video.play();
    }

    function errorCallback(error) {
        console.log(error);
    }

    let streaming = false;
    function toggleStream() {
        if (streaming === false) {
            navigator.getUserMedia(constraints, successCallback, errorCallback);
            document.getElementById('toggleStream').innerHTML = "Stop";
            document.getElementById('cvtGray').style.visibility = 'visible';
        }
        else {
            const stream = video.srcObject;
            const tracks = stream.getTracks();
            tracks.forEach(track => {
                track.stop();
            });
            document.getElementById('toggleStream').innerHTML = "Play";
            document.getElementById('cvtGray').style.visibility = 'hidden';
        }
        streaming = !streaming;
    }

    let src, dist, cap;
    function cvtGray() {
        src = new cv.Mat(height, width, cv.CV_8UC4);
        dst = new cv.Mat(height, width, cv.CV_8UC1);
        cap = new cv.VideoCapture('video');
        setTimeout(process, 33);
    }

    function process() {
        if (streaming === true) {
            cap.read(src);
            cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
            cv.imshow('output', dst);
            setTimeout(process, 33);
        }
    }
</script>

        <div class="stw">
            <div>
                <h2>Stop watch</h2>
                <span id="postTestMin">00</span><!-- 분 -->
                <span>:</span>
                <span id="postTestSec">00</span>
                <!--초-->
                <span>.</span>
                <span id="postTestMilisec">00</span>
                <!--밀리초-->
            </div>
            <div>
                <ul id="testRecordList"></ul>
                <!--중간 기록할 리스트-->
            </div>
            <div>
                <button class="button" type="button" id="testStartBtn">START</button>
                <!--시작/재시작/기록 버튼-->
                <button class="button" type="button" id="testStopBtn">STOP</button>
                <!--스톱 버튼-->
            </div>
        </div>
        <div class="clock">
            <div class="time_box">
                <span class="txt_lg" id="hours"></span>
                <span class="mark">:</span>
                <span class="txt_lg" id="min"></span>
                <span class="mark02">.</span>
                <span class="txt_sm" id="sec"></span>
            </div>
            <div class="date_box">
                <span id="month"></span>
                <span class="point">.</span>
                <span id="date"></span>
                <span class="point">.</span>
                <span id="year"></span>
                <span id="day"></span>
            </div>
        </div>
        <div class="scheduler">
            <h1>Scheduler</h1>
            <p>공부할 주제를 기록해 보세요</p>
            <p>공부가 끝난 것은 클릭해서 삭제할 수 있습니다.</p>
            <form action="">
                <input class="input" type="text" id="subject" autofocus>
                <input class="input" type="time" id="time">
                <button class="button" onclick="newRegister(); return false;">추가</button>
            </form>
            <hr>
            <ul id="itemList"> </ul>
        </div>
        <div class="how">
            <p>※ 올바른 사용방법 ※</p>
            <p>ㆍ정확한 인식을위해 카메라각도를 얼굴 정면을 향하도록 하세요</p>
            <p>ㆍ주변 밝기가 너무 어두우면 인식의 어려움이 있을 수 있습니다</p>
        </div>
        <div class="tip">
            <a href="{% url 'tip' %}" target="_blank">
                <button class="button" type="button">tip</button>
            </a>
        </div>
    </div>
    <script src="{% static 'js/clock.js' %}"></script>
    <script src="{% static 'js/stop.js' %}"></script>
    <script>
    function newRegister() {
        var newItem = document.createElement("li"); // 요소 노드 추가
        newItem.className = 'lsclass';

        var subject = document.querySelector("#subject"); // 폼의 텍스트 필드
        var newText = document.createTextNode(subject.value); // 텍스트 필드의 값을 텍스트 노드로 만들기
        if (subject.value == "") return;
        var newp_content = document.createElement("span");
        newp_content.appendChild(newText);
        newp_content.className = 'tempclass';

        var subjecttime = document.querySelector("#time");
        var newtime = document.createTextNode(subjecttime.value);
        if (subjecttime.value == "") return;
        var newp_time = document.createElement("span");
        newp_time.appendChild(newtime);
        newp_time.className = 'tempclass';

        var newButton = document.createElement("button"); // 요소 노드 추가
        var jbBtnText = document.createTextNode('할일 완료');
        newButton.appendChild(jbBtnText);
        newButton.className = 'button'

        newItem.appendChild(newp_content); // 텍스트 노드를 요소 노드의 자식 노드로 추가
        newItem.appendChild(newp_time); // 텍스트 노드를 요소 노드의 자식 노드로 추가
        newItem.appendChild(newButton);

        var itemList = document.querySelector("#itemList"); // 웹 문서에서 부모 노드 가져오기

        itemList.insertBefore(newItem, itemList.childNodes[0]); // 자식 노드중 첫번째 노드 앞에 추가

        var items = document.querySelectorAll("li"); // 모든 항목 가져오기
        for (i = 0; i < items.length; i++) {
            items[i].lastChild.addEventListener("click", function() { // 항목 클릭했을 때 실행할 함수
                if (this.parentNode) // 부모 노드가 있다면
                    this.parentNode.remove(this); // 부모 노드에서 삭제
            });
        }
    }
    </script>
</body>
{% endblock %}