{% extends "base.html" %}
{% block content %}
{% load static %}
<title>TaskManager</title>

<body style="background-color:grey">
    <div class="all">
        <div class="cam">
            <video id="video-output"></video>
        </div>
        <script>
            const videoOutput = document.getElementById("video-output");
const constraints = {audio: false, video: true};

navigator.mediaDevices.getUserMedia(constraints)
  .then(function(mediaStream){

    videoOutput.srcObject = mediaStream;

    videoOutput.onloadedmetadata = function() {

      video.play();
    };
  })
        </script>
        <div class="stw">
            <div>
                <h2>Stop watch</h2>
                <span id="postTestMin">00</span><!-- 분 -->
                <span>:</span>
                <span id="postTestSec">00</span>
                <!--초-->
                <span>.</span>
                <span id="postTestMilisec">00</span>
                <!--밀리초-->
            </div>
            <div>
                <ul id="testRecordList"></ul>
                <!--중간 기록할 리스트-->
            </div>
            <div>
                <button class="button" type="button" id="testStartBtn">START</button>
                <!--시작/재시작/기록 버튼-->
                <button class="button" type="button" id="testStopBtn">STOP</button>
                <!--스톱 버튼-->
            </div>
        </div>
        <div class="clock">
            <div class="time_box">
                <span class="txt_lg" id="hours"></span>
                <span class="mark">:</span>
                <span class="txt_lg" id="min"></span>
                <span class="mark02">.</span>
                <span class="txt_sm" id="sec"></span>
            </div>
            <div class="date_box">
                <span id="month"></span>
                <span class="point">.</span>
                <span id="date"></span>
                <span class="point">.</span>
                <span id="year"></span>
                <span id="day"></span>
            </div>
        </div>
        <div class="scheduler">
            <h1>Scheduler</h1>
            <p>공부할 주제를 기록해 보세요</p>
            <p>공부가 끝난 것은 클릭해서 삭제할 수 있습니다.</p>
            <form method="POST" action="">
                {% csrf_token %}
                <input class="input" type="text" name = "content" id="content" autofocus>
                <button class="button" type="submit" onclick="return Scheduler()">추가</button>
            </form>
            <hr>
            <ul>
            {% for list in TodoList %}
                <div>{{ list }}</div>
            {% endfor %}
            </ul>
        </div>
        <div class="how">
            <p>※ 올바른 사용방법 ※</p>
            <p>ㆍ정확한 인식을위해 카메라각도를 얼굴 정면을 향하도록 하세요</p>
            <p>ㆍ주변 밝기가 너무 어두우면 인식의 어려움이 있을 수 있습니다</p>
        </div>
        <div class="tip">
            <a href="{% url 'tip' %}" target="_blank">
                <button class="button" type="button">tip</button>
            </a>
        </div>
    </div>
    <script src="{% static 'js/clock.js' %}"></script>
    <script src="{% static 'js/stop.js' %}"></script>
    <script src="{% static 'js/scheduler.js' %}"></script>
</body>
{% endblock %}