{% extends "base.html" %}
{% block content %}
{% load static %}
<title>Task Manager - MyPage</title>

<head>
    <!--chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
    <style>
        .bar{
  position : absolute;
      width : 1000px;
    height : 700px;
    left :250px;
    top : 120px;
  }
  .doughnut{
  position : absolute;
      width : 500px;
    height : 400px;
    left :1350px;
    top : 120px;
  }
  </style>
</head>
<!-- 현재는 졸음감지 데이터만 존재하므로, 눈 깜빡임 데이터도 추가해줘야함 -->
<!-- 방식은 동일하며, 변수명만 잘 처리하면 될것임 -->
<!-- view의 경우, mypage 뷰를 참조하고, 잘 모르겠으면 연락 -->

<body>
    <div class="all">
        <!--barchart-->
        <div class="bar">
            <div>
                <script>
                /* 기간 선택이 가능하도록 처리해줬으면 함 */
                // view에서 넘겨준 졸음 감지 데이터
                let d_data_js = JSON.parse("{{ d_data_js | escapejs }}");

                // 일별 횟수 처리
                var dictObject_d = {}
                for (var i = 0; i < d_data_js.length; i++) {
                    if (String(d_data_js[i].d_time).substr(0, 10) in dictObject_d) {
                        dictObject_d[String(d_data_js[i].d_time).substr(0, 10)] += 1
                    } else {
                        dictObject_d[String(d_data_js[i].d_time).substr(0, 10)] = 1
                    }
                }
                </script>
                <canvas id="myChart"></canvas>
                <script>
                // 졸음 감지 일
                labels1 = [];
                for (var key in dictObject_d) {
                    labels1.push(key);
                }
                // 졸음 감지 횟수
                data_d = [];
                for (var key in dictObject_d) {
                    data_d.push(dictObject_d[key]);
                }
                // 그래프로 표시할 졸음 감지 데이터
                data = {
                    labels: labels1,
                    datasets: [{
                        label: 'Number of drowsiness detections this week',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: data_d,
                    }]
                };
                // 그래프 설정(직선 그래프)
                const config1 = {
                    type: 'line',
                    data,
                    options: {}
                };
                // bar_chart 생성
                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config1
                );
                </script>
            </div>
        </div>
        <!--doughnutchart-->
        <div class="doughnut">
            <div>
                <canvas id="dChart"></canvas>
                <script type="text/javascript">
                /* 일자 선택이 가능하도록 해줬으면 함 */
                // 도넛 차트 - 24시간으로 분리(시간대별 그래프)
                label = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
                    '21', '22', '23', '24'
                ]
                backgroundColors = ['rgb(255, 0, 0)', 'rgb(255, 187, 0)', 'rgb(171, 242, 0)', 'rgb(0, 216, 255)',
                    'rgb(0, 89, 255)', 'rgb(255, 9, 221)', 'rgb(242, 203, 97)', 'rgb(135, 229, 132)', 'rgb(105, 109, 255)',
                    'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)',
                    'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)',
                    'rgb(5, 9, 132)', 'rgb(5, 9, 132)', 'rgb(5, 9, 132)'
                ]

                // 시간대별 횟수 처리
                var dictObject_d_h = {}
                tempdate = '2021-07-28' // 임시로 선택해둔 날짜
                for (var i = 0; i < d_data_js.length; i++) {
                    if (String(d_data_js[i].d_time).substr(0, 10) === tempdate) {
                        if (String(d_data_js[i].d_time).substr(11, 2) in dictObject_d_h) {
                            dictObject_d_h[String(d_data_js[i].d_time).substr(11, 2)] += 1;
                        } else {
                            dictObject_d_h[String(d_data_js[i].d_time).substr(11, 2)] = 1;
                        }
                    }
                }

                // 도넛차트 생성을 위한 선언부
                labels_temp = []
                data_temp = []
                background_temp = []

                // 선택된 일(현재는 tempdate의 일)의 졸음 감지 데이터 존재 시
                var i = 0;
                if (tempdate in dictObject_d) {
                    // 시간 삽입
                    for (var key in dictObject_d_h) {
                        labels_temp.push(key);
                        data_temp.push(dictObject_d_h[key]);
                        background_temp.push(backgroundColors[i]);
                        i += 1;
                    }
                    // 선택된 일의 데이터가 없을 시
                } else {
                    labels_temp.push("데이터 없음");
                    data_temp.push(1);
                    background_temp.push('rgb(0,0,0)');
                }

                // 그래프로 표시할 졸음 감지 데이터
                const data = {
                    labels: labels_temp,
                    datasets: [{
                        label: 'My First Dataset',

                        data: data_temp,

                        backgroundColor: background_temp,
                        hoverOffset: 4
                    }]
                };

                // 그래프 설정
                const config = {
                    type: 'doughnut',
                    data: data,
                };

                // 원형 그래프 생성
                var dChart = new Chart(
                    document.getElementById('dChart'),
                    config
                );
                </script>
            </div>
        </div>
    </div>
</body>
{% endblock %}